---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";
import Link from "../components/Link.astro";
const personer = 
  (await getCollection("personer"))
  .sort((a, b) => {
    let a_str = `${a.data.etternavn}${a.data.fornavn}`
    let b_str = `${b.data.etternavn}${b.data.fornavn}`
    if(a_str < b_str){
      return -1
    } else if (a_str > b_str){
      return 1
    } else {
      return 0
    }
  });

---

<Layout title="Slekt">
    <Container>
      <Title>Personer</Title>
      <ul>
        {
          personer.map((person) => (
            <li>
              <Link href={`/person/${person.id}`}>
                <span>{person.data.etternavn}, {person.data.fornavn}</span>
              </Link>
            </li>
          ))
        }
      </ul>
    </Container>
</Layout>
