---
import { getCollection, getEntries } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Title from "../../components/Title.astro";
import Timeline from "../../components/Timeline.astro";
import { formatDate, upperFirstChar } from "../../utils";
import type { Hendelse } from "../../types";

export async function getStaticPaths() {
  const personer = await getCollection("personer");
  return personer.map((person) => ({
    params: { id: person.id },
    props: { person },
  }));
}
const { person } = Astro.props;
const hendelser = (
  person.data.hendelser ? await getEntries(person.data.hendelser) : []
)
  .map((h) => h.data)
  .sort((a, b) => a.dato.localeCompare(b.dato));
const navn = `${person.data.fornavn} ${person.data.etternavn}`;
---

<Layout title={navn}>
  <Container>
    <Title>{navn}</Title>
    <div>
      <p>
        Født: {formatDate(person.data.født)}
        {person.data.pikenavn && `, pikenavn ${person.data.pikenavn}.`}
      </p>
    </div>
    <Timeline hendelser={hendelser} />
  </Container>
</Layout>
