---
import { getCollection, getEntries, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import Title from "../../components/Title.astro";
import Timeline from "../../components/Timeline.astro";
import { formatDate, getPersonDisplayName } from "../../utils";
import Subtitle from "../../components/Subtitle.astro";
import Link from "../../components/Link.astro";

export async function getStaticPaths() {
  const personer = await getCollection("personer");
  return personer.map((person) => ({
    params: { id: person.id },
    props: { person },
  }));
}
const { person } = Astro.props;
const hendelser = (
  person.data.hendelser ? await getEntries(person.data.hendelser) : []
)
  .map((h) => h.data)
  .sort((a, b) => a.dato.localeCompare(b.dato));
const navn = getPersonDisplayName(person.data);
const barn = (
  person.data.barn ? await getEntries(person.data.barn) : []
)
const mor = (
  person.data.mor && await getEntry(person.data.mor)
)
const far = (
  person.data.far && await getEntry(person.data.far)
)
const foreldre = (mor ? [mor] : []).concat(far ? [far] : []) 

---

<Layout title={navn}>
  <Container>
    <Title>{navn}</Title>
    <div>
      <p>
        Født: {formatDate(person.data.født)}
      </p>
      {foreldre.length > 0 &&
      <div class="pt-5">
        <Subtitle>Foreldre</Subtitle>
        <ul>
        {
          
        foreldre.map((forelder) => 
          <li>
            <Link href={`/person/${forelder.id}`}>
              {getPersonDisplayName(forelder.data)}
            </Link>
          </li>
        )
        }
        </ul>
      </div>
      }
        {barn.length > 0 && <div class="pt-5">
          <Subtitle>Barn</Subtitle>
          <ul>
        {
          barn.map((barn) => (
            <li>
              <Link href={`/person/${barn.id}`}>
                {getPersonDisplayName(barn.data)}
              </Link>
            </li>
          ))
        }
      </ul>
        </div>}
    </div>
    {hendelser.length > 0 && <Timeline hendelser={hendelser} personId={person.id}/>}
  </Container>
</Layout>
